@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-display: swap;
  src: url('NanumSquareR.otf') format('truetype');
}
@font-face {
  font-family: 'NanumSquare';
  font-weight: 600;
  font-display: swap;
  src: url('NanumSquareB.ttf') format('truetype');
}
