$light-gray: #d6d6d6b2;
$gray: #bdbdbd;
$dark-gray: #8b8b8bd7;
$darker-gray: #575757d7;

$text-blue: #394c74;
$text-dark: #3e4147;

$link-blue-light: #9198ff;
$link-blue: #4c55d4;
$link-blue-dark: #1823b6;
