$light-gray: #d6d6d6b2;
$gray: #bdbdbd;
$dark-gray: #8b8b8bd7;
$darker-gray: #575757d7;

$text-blue: #394c74;
$text-dark: #3e4147;

$link-blue-light: #9198ff;
$link-blue: #0969da;
$link-blue-dark: #4c60d4;
