@import 'styles/var.scss';
@import 'styles/post.scss';
@import 'styles/components.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
  margin: 0;
  font-weight: 400;
  font-family: 'Inter', 'NanumSquare', sans-serif;
  scroll-behavior: smooth;
  background-color: $bg-100;
  letter-spacing: -0.5;
  color: $text-100;
  font-size: 16px;
}
html,
body,
button {
  font-weight: 400;
  font-family: 'Inter', 'NanumSquare', sans-serif;
}
button {
  font-size: 1rem;
}
.root {
  width: calc(260px * 3 + 10px * 6);
  margin: 0 auto;
  transition: all ease 0.25s 0s;
}

@media (max-width: 1024px) {
  .root {
    width: 85%;
  }
  .posts {
    display: block;
    width: 100%;
    .post-card {
      width: 340px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
}

.header {
  display: flex;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-bottom: 12px;
  justify-content: space-between;

  a {
    color: #000;
    text-decoration: none;
  }

  .name {
    font-weight: 700;
    font-size: 1.15em;

    a {
      color: $primary-100;
    }
  }

  .items {
    font-size: 0.95em;
    padding-top: 5px;
    font-weight: 500;

    i {
      color: $text-blue;
      margin-left: 15px;
      font-size: 1.05rem;
      transition: all ease 0.25s 0s;
    }
    i:hover {
      color: $primary-100;
      cursor: pointer;
    }
  }
}

.tag-list {
  max-width: 60%;
  height: auto;
  margin: 50px auto;
  h2 {
    text-align: center;
  }
  .tag-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tag-item {
    text-decoration: none;
    padding: 5px;

    .tag-count {
      color: $darker-gray;
      font-size: 0.75rem;
    }

    a {
      text-decoration: none;
    }
  }
}

.directory {
  font-size: 1.25rem;
  font-weight: 600;
  color: $darker-gray;

  strong {
    color: $text-dark;
    padding-left: 3px;
    font-size: 1.45rem;
  }
}

// code

.code-block {
  display: block;
  overflow-x: auto;
  margin: 30px 0;
  line-height: 1.15rem;
  border-radius: 8px;

  .code-lang {
    background-color: #1a1d29;
    color: #7d7f8f;

    padding: 0.8em 1rem 0.5rem 1rem;
    font-size: 0.775rem;
    border-bottom: 1px solid #383d52;

    i {
      font-size: 0.75rem;
      margin-right: 5px;
    }
    button {
      float: right;
      background-color: inherit;
      border: none;
      color: #7d7f8f;
      font-size: 0.75rem;

      i {
        font-size: 1rem;
      }
    }
    button:hover {
      border-radius: 5px;
      background-color: #252938;
    }
  }

  pre {
    margin: 0;
    padding: 1.05em;
    overflow: auto;
  }
}

:not(pre) > code {
  margin: 2px;
  padding: 2.5px 5px;
  color: #404680e0;
  background-color: #eeeeeedc;
  letter-spacing: normal;
}

code {
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 0.875em;
  border-radius: 2px;
}

.no-a {
  color: inherit;
  text-decoration: none;
}

// animation

.animation,
a {
  transition: all ease 0.25s 0s;
}
.animation:hover,
a:hover {
  transition: all ease 0.25s 0s;
}

h2 {
  font-size: 1.85em;
  margin: 1.75em 0 0.6em;
}
h3 {
  font-size: 1.65em;
  margin: 1.75em 0 0.6em;
}

a {
  color: $link-blue;
}
a:hover {
  color: $link-blue-dark;
}

.about {
  width: 50%;
  margin: 75px auto;
  text-align: center;
  img {
    border-radius: 999px;
  }
}

table {
  width: 100%;
  border: 1px solid $light-gray;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid $light-gray;
  padding: 3px 10px;
}
