@import './var.scss';
@import './post.scss';
@import './components.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

.title {
  font-family: 'Inter', 'TheJamsil5Bold', sans-serif;
}

html,
body {
  margin: 0;
  font-weight: 400;
  font-family: 'Inter', 'Noto Sans KR', sans-serif;
  scroll-behavior: smooth;
  background-color: $bg-100;
  letter-spacing: -0.5;
  color: $text-100;
  font-size: 16px;
}
html,
body,
button {
  font-weight: 400;
  font-family: 'Inter', 'Noto Sans KR', sans-serif;
}
button {
  font-size: 1rem;
}
.root {
  width: 75%;
  margin: 0 auto;
  transition: all ease 0.25s 0s;
}
.header {
  width: 75%;
}

@media (max-width: 1024px) {
  .root {
    width: 85%;
  }
  .header {
    width: 85%;
  }
  .posts {
    display: block;
    width: 100%;
    .post-card,
    .hello {
      width: 340px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }

  .post-container {
    width: 100%;
  }
}

.header-container {
  border-bottom: 1px solid $bg-100;
}
.header-container.fixed {
  position: fixed;
  display: absolute;
  top: 0;
  width: 100%;
  background: rgba(26, 25, 32, 0.575);
  transition: all ease 0.25s 0s;
  z-index: 100;
}
@keyframes reveal {
  0% {
  }
  100% {
    transform: translateY(0);
  }
}
.scrolled {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid $bg-200 !important;
}

.header {
  margin: 15px auto;
  display: flex;
  justify-content: space-between;

  a {
    color: $text-100;
    text-decoration: none;
  }

  .name {
    font-weight: 700;
    font-size: 1.15em;

    a {
      color: $primary-100;
    }
  }

  .items {
    font-size: 0.95em;
    padding-top: 5px;
    font-weight: 500;

    i {
      color: $text-blue;
      margin-left: 15px;
      font-size: 1.05rem;
      transition: all ease 0.25s 0s;
    }
    i:hover {
      color: $primary-100;
      cursor: pointer;
    }
  }
}

.tag-items {
  display: flex;
}
.tag-list {
  max-width: 60%;
  height: auto;
  margin: 50px auto;
  h2 {
    text-align: center;
  }
  .tag-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tag-item {
    text-decoration: none;
    padding: 5px;

    .tag-count {
      color: $darker-gray;
      font-size: 0.75rem;
    }

    a {
      text-decoration: none;
    }
  }
}

.directory {
  margin-top: 100px;
  font-size: 1.25rem;
  font-weight: 600;
  color: $darker-gray;

  strong {
    color: $text-dark;
    padding-left: 3px;
    font-size: 1.45rem;
  }
}

// code

figure[data-rehype-pretty-code-figure] {
  margin: 30px 0;
}

div[data-rehype-pretty-code-title] {
  border-radius: 8px 8px 0 0;
  background-color: #252525;
  color: #727272;

  font-size: 0.775rem;
  padding: 0.25em 1rem 0.1rem 1rem;
  border-bottom: 1px solid #161616;

  i {
    font-size: 0.75rem;
    margin-right: 5px;
  }

  button {
    float: right;
    background-color: inherit;
    margin-top: 6px;
    border: none;
    color: #a8a8a8;
    font-size: 0.75rem;

    i {
      font-size: 1rem;
    }
  }
  button:hover {
    border-radius: 5px;
  }
}

.code-block {
  border-radius: 0 0 8px 8px;
  display: block;
  overflow-x: auto;
  line-height: 1.15rem;

  pre {
    background-color: #303030af;
    margin: 0;
    padding: 0.85em 1.05rem;
    overflow: auto;
    max-height: 524px;
  }

  code {
    counter-reset: line;
    span[data-highlighted-line] {
      background-color: #f3f3f3;
    }
  }

  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 1.25rem;
    text-align: right;
    color: #9b9b9b;
  }
}

:not(pre) > code {
  margin: 2px;
  padding: 3px 7px;
  color: #c3c9fce0;
  background-color: #333333dc;
  letter-spacing: normal;
  border-radius: 6px;
}

code {
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-size: 0.875em;
  border-radius: 2px;
}

.no-a {
  color: inherit;
  text-decoration: none;
}

// animation

.animation,
a {
  transition: all ease 0.25s 0s;
}
.animation:hover,
a:hover {
  transition: all ease 0.25s 0s;
}

h2 {
  font-size: 1.85em;
  margin: 1.75em 0 0.6em;
}
h3 {
  font-size: 1.65em;
  margin: 1.75em 0 0.6em;
}

a {
  color: $link-blue;
}
a:hover {
  color: $link-blue-dark;
}

.about {
  width: 50%;
  margin: 75px auto;
  text-align: center;
  img {
    border-radius: 999px;
  }
}

table {
  width: 100%;
  border: 1px solid $light-gray;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid $light-gray;
  padding: 3px 10px;
}
