@import 'styles/var.scss';

.post-container {
  margin-top: 50px;
}

.preface {
  text-align: center;
  padding-bottom: 45px;
  border-bottom: 2px solid $light-gray;

  .title {
    font-weight: 700;
    color: $text-100;
    font-size: 2.25em;
  }
  .date {
    color: $darker-gray;
    font-weight: 500;
  }
  .tags {
    margin-top: 20px;
    font-weight: 400;
    font-size: 0.975rem;
    a {
      text-decoration: none;
    }
    a + a {
      padding-left: 10px;
    }
  }
}

.post {
  margin-top: 40px;
  line-height: 200%;
  color: $text-blue;
  ul {
    padding-left: 25px;
  }

  p {
    line-height: 28px;
  }

  a {
    text-decoration: none;
    color: $link-blue;
  }
  a:hover {
    text-decoration: underline;
    color: $link-blue-dark;
  }

  img {
    margin: 50px auto;
    display: block;
    max-height: 450px;
    text-align: center;
    border-radius: 6px;
    width: 100%;
  }

  h2,
  h3,
  h4 {
    a {
      margin-left: -0.9em;
      padding-right: 5px;
      color: #fff;
      font-weight: 500;
      font-size: 1.55rem;
    }
  }
  h2:hover,
  h3:hover,
  h4:hover {
    a {
      color: #6b68ff;
    }
  }
}

.footer {
  margin-top: 60px;
  margin-bottom: 125px;

  .edit {
    padding: 20px 10px;
    border-top: 2px solid $light-gray;
    border-bottom: 2px solid $light-gray;
  }

  .edit a {
    color: $text-200;
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;
  }

  .back {
    float: right;
    margin-top: 25px;

    a {
      font-weight: 600;
      text-decoration: none;
      color: $link-blue;
    }
    a:hover {
      color: $link-blue-dark;
    }
  }
}
