.post-container {
  margin-top: 50px;
}

.preface {
  text-align: center;
  padding-bottom: 35px;
  border-bottom: 2px solid $light-gray;

  .title {
    font-weight: 700;
    font-size: 2.25em;
  }
  .date {
    color: $dark-gray;
    font-weight: 700;
  }
  .tags {
    margin-top: 20px;
    a {
      text-decoration: none;
    }
    a + a {
      padding-left: 10px;
    }
  }
}

.post {
  line-height: 200%;

  a {
    font-weight: 500;
    text-decoration: none;
    color: $link-blue;
  }
  a:hover {
    color: $link-blue-dark;
  }
}

.footer {
  margin-top: 60px;
  margin-bottom: 125px;

  .edit {
    padding: 20px 10px;
    border-top: 2px solid $light-gray;
    border-bottom: 2px solid $light-gray;
  }

  .edit a {
    color: $text-dark;
    font-size: 0.95rem;
    font-weight: 700;
    text-decoration: none;
  }

  .back {
    float: right;
    margin-top: 25px;

    a {
      font-weight: 600;
      text-decoration: none;
      color: $link-blue;
    }
    a:hover {
      color: $link-blue-dark;
    }
  }
}
