$light-gray: #d6d6d6b2;
$gray: #bdbdbd;
$dark-gray: #8b8b8bd7;
$darker-gray: #575757d7;

$gray: #dfdfdf;

$text-blue: #394c74;
$text-dark: #3e4147;

$link-blue-light: #9198ff;
$link-blue: #0969da;
$link-blue-dark: #4c60d4;

$primary-100: #0072c6;
$primary-200: #5aa0f9;
$primary-300: #caffff;
$accent-100: #00b0f0;
$accent-200: #00548d;
$text-100: #32374e;
$text-200: #708090;
$bg-100: #ffffff;
$bg-200: #f5f5f5;
$bg-300: #cccccc;
