$light-gray: #2d2d2d;
$gray: #3f3f3f;
$dark-gray: #6e6e6e;
$darker-gray: #a3a3a3;

$text-blue: #d0e4ff;
$text-dark: #eeeeeecc;

$link-blue-light: #7eb2ff;
$link-blue: #4c94ff;
$link-blue-dark: #5091f1;

$primary-100: #4c94ff;
$primary-200: #7eb2ff;
$primary-300: #d0e4ff;

$accent-100: #74d1f6;
$accent-200: #1b6a80;
$accent-300: #1d5fb0;

$text-100: #eeeeeecc;
$text-200: #d0d0d0;
$text-300: #bbbbbbcc;

$bg-100: #181818;
$bg-200: #1f1f1f;
$bg-200-light: #2b2b2b75;
$bg-200-dark: #121212;
$bg-250: #272727;
$bg-300: #2e2e2e;
$bg-400: #444444;
